*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    background-color: antiquewhite;
}
.container{
    border: 0px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
    width: 700px;
    height: 550px;
    margin: 50px auto;
    padding: 30px;
}
.first-box{
    border: 0px solid black;
    border-radius: 10px;
    width: 320px;
    height: 80px;
    background-color: hsl(10, 79%, 65%);
    margin-left: 150px;
    position: absolute;
    padding: 20px;
}
.balance{
    color: whitesmoke;
}
.amount{
    font-weight: 700;
    font-size: 25px;
    color: white;
}
img{
    margin-left: 200px;
}
.relative{
    position: relative;
    bottom: 50px;
}
.second-box{
    border: 0px solid black;
    border-radius: 10px;
    width: 320px;
    height: 300px;
    background-color: white;
    margin-top: 90px;
    margin-left: 150px;
    padding: 20px;
}
.second-box p{
    font-size: 25px;
    font-weight: 700;
}
.chart1{
    border: 0px solid black;
    border-radius: 5px;
    width: 30px;
    height: 55px;
    background-color: hsl(10, 79%, 65%);
}
.chart2{
    border: 0px solid black;
    border-radius: 5px;
    width: 30px;
    height: 80px;
    background-color: hsl(10, 79%, 65%);
}
.chart3{
    border: 0px solid black;
    border-radius: 5px;
    width: 30px;
    height: 50px;
    background-color: hsl(10, 79%, 65%);
}
.chart4{
    border: 0px solid black;
    border-radius: 5px;
    width: 30px;
    height: 60px;
    background-color: hsl(10, 79%, 65%);
}
.chart5{
    border: 0px solid black;
    border-radius: 5px;
    width: 30px;
    height: 90px;
    background-color:  hsl(186, 34%, 60%);
}
.chart6{
    border: 0px solid black;
    border-radius: 5px;
    width: 30px;
    height: 65px;
    background-color: hsl(10, 79%, 65%);
}
.chart7{
    border: 0px solid black;
    border-radius: 5px;
    width: 30px;
    height: 35px;
    background-color: hsl(10, 79%, 65%);
}
#chart{
    display: flex;
    gap: 10px;
    transform: rotate(180deg);
    margin-top: -220px;
    margin-right: 199px;
}
#days{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 5px;
    font-size: 12px;
    margin-right: 33px;
}
.total{
    margin-left: 170px;
    margin-top: 50px;
}
.dif2{
    margin-left: 330px;
    margin-top: -18px;
    position: absolute;
}
.dif1{
    margin-left: 395px;
    position: absolute;
    margin-top: -40px;
    
}
.dif3{
    font-size: 25px;
    font-weight: 700;
}
/* .day-seven{
    margin-left: 35px;
}
.day-six{
    margin-left: 35px;
}
.day-five{
    margin-left: 35px;
}
.day-four{
    margin-left: 35px;
}
.day-three{
    margin-left: 35px;
}
.day-two{
    margin-left: 35px;
}
.day-one{
    margin-left: 35px;
} */